/* ==========================================================================
   #FORMS
   ========================================================================== */

input,
textarea {
	background: none;
	border: thin solid $color-tundora;
	max-width: 100%;
	padding: add-unit($space-quarter);

	&:hover {
		border: thin dashed $color-design;
	}

	&:focus {
		border: thin solid $color-design;
	}
}

input {
	&[type='submit'] {
		margin-top: add_unit($space-half);
	}

	&:not([type='submit']) {
		width: 100%;

		@media screen and (min-width: 40em) {
			width: 75%;
		}
	}
}

textarea {
	min-height: 5em;
	width: 100%;
}

label {
	margin-top: add-unit($space);

	+ input {
		margin-top: add-unit($space-quarter);
	}
}
