/* ==========================================================================
   #TYPOGRAPHY base styles
   ========================================================================== */

/* Headings
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	margin: add-unit($space-and-half, 'em') 0 0;

	.entry-content,
	.sidebar {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			+ * {
				margin-top: add-unit($space-half, 'em');
			}
		}
	}
}

h1,
.entry-title {
	font-size: 1.802em;
	line-height: line-height(1.802, 1.5);
}

.entry-title {
	margin-top: 0;
}

h2 {
	font-size: 1.602em;
	line-height: line-height(1.602, 1.5);
}

h3 {
	font-size: 1.424em;
	line-height: line-height(1.424, 1.25);
}

h4 {
	font-size: 1.266em;
	line-height: line-height(1.266, 1.25);
}

h5 {
	font-size: 1.125em;
	line-height: line-height(1.125, 1);
}

h6 {
	font-size: 1em;
	line-height: line-height(1, 1);
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
	margin: add-unit($space-half, 'em') 0 0;
}

/* Paragraphs
   ========================================================================== */

p {
	margin: add-unit($space-half, 'em') 0 0;
}

/* Links
   ========================================================================== */

a {
	box-shadow: 0 1px 0 currentColor;
	box-decoration-break: clone;
	color: $color-design;
	padding-bottom: .05em;
	padding-top: .05em;
	text-decoration: none;
	-webkit-text-decoration-skip: objects;
	transition: box-shadow .2s ease 0s, background .2s ease 0s;

	&:focus {
		background: $color-design;
		color: $color-white;
		outline-width: 0;
	}
}

a:hover,
a:active,
.current-menu-item > a {
	box-shadow: 0 1px 0 transparent;
	outline-width: 0;
}

/* Blockquotes
   ========================================================================== */

blockquote {
	margin: add-unit($space) add-unit($space-half);
	font-style: italic;
	padding-left: add-unit($space-half);
}

blockquote cite {
	display: block;
	font-style: normal;
	margin: add-unit($space-quarter) 0 0;
}

@media screen and (min-width: 50em) {
	blockquote {
		margin: add-unit($space) add-unit($space-half);
		padding-left: add-unit($space-half);
	}

	blockquote cite {
		margin: add-unit($space-quarter) 0 0;
	}
}

/* Do not use text that is both italic and bold.
   ========================================================================== */

em > strong {
	font-weight: bold;
	font-style: normal;
}

strong > em {
	font-style: italic;
	font-weight: normal;
}
