/* ==========================================================================
  #COMMENTS
  ========================================================================== */
.bypostauthor {
	/**
	 * We have to add something here, otherwise it would
	 * get stripped out from the SASS compiler and the theme
	 * would not pass the Theme Check plugin.
	 */
	text-align: inherit;
}

.commentlist {
	padding: 0;

	.children {
		margin-left: add-unit($space-half);
	}
}

.comment {
	margin-top: add-unit($space-double);

	&::before {
		display: none;
	}

	.avatar {
		float: left;
	}

	.comment-meta {
		margin-left: 55px;
		position: relative;
		top: -.2em;

		&::after {
			@include clearfix;
		}
	}
}
