/* ==========================================================================
  #COMMENTS
  ========================================================================== */
.bypostauthor {
	/**
	 * We have to add something here, otherwise it would
	 * get stripped out from the SASS compiler and the theme
	 * would not pass the Theme Check plugin.
	 */
	text-align: inherit;
}

.commentlist {
	padding: 0;

	.children {
		margin-left: add-unit($space-half);
	}
}

.comment-form-cookies-consent {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}

.comment-form-cookies-consent label {
	margin-left: .5em;
}

.comment {
	margin-top: add-unit($space-double);

	&::before {
		display: none;
	}

	.avatar {
		float: left;
	}

	.comment-meta {
		margin-left: 55px;
		position: relative;
		top: -.2em;

		&::after {
			@include clearfix;
		}
	}
}
